include README.md
include test_comp.sh
include CHANGES.rst
recursive-include src *.jpg
recursive-include src *.pdf
recursive-include src *.png
recursive-include src *.tif
recursive-include src *.gif
recursive-include src *.py
